@import "bootstrap";


.page-content {
  background-color: lightgrey;
}
.navbar {
  background-color: black;
}
.jumbo-bg {
  background-color: blue;
  
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.0cm;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#footer {
  color: grey;
}
.navbar-toggler-icon {
  color: white;
  background-color: white;

}
