<div class="container">
  <div class="text-white p-5 rounded-pill m-5 text-center jumbo-bg">
    <h1 class="display-4">Pill container with background image</h1>
    <p class="lead">Vertical on cell phones in portrait, horizontal in landscape.</p>
    <hr class="my-4"></hr>
    <p>The sign up button doesn't do anything yet. Go to <%= link_to "Articles", articles_path %> instead. </p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
