<div class="container">
  <div class="text-white p-5 rounded-pill m-5 text-center jumbo-bg">
    <h1 class="display-4">We Gettin' There!</h1>
    <p class="lead">The goal here is to create a modern, sleek looking front-end.</p>
    <hr class="my-4"></hr>
    <p>It should also be responsive. So, this "jumbotron" pill should actually be vertical if you're on your phone in portrait, and horizontal if you're in landscape.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
